.container {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  position: absolute;
  top: 6px;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 60px 12px 60px;
  background-color: #151515;
  color: white;
  font-size: 18px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 325px;
}

.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  border-radius: 11px;
  width: 120px;
  background-color: #565656;
}

.main {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #1E192C;
  color: white;
  display: flex;
  flex-wrap: wrap-reverse;
}

.mainHalf {
  flex: 50% 1 1;
}

.description {
  position: relative;
  width: 388px;
  left: 65px;
  top: 141px;
  font-size: 32px;
  font-weight: 700;
}

.form {
  position: relative;
  padding: 12px;
  top: 141px;
  width: 376px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.formHeader {
  font-size: 32px;
  width: 700;
}

.formDescription {
  margin: 8px 0 24px 0;
}

.inputWrapper {
  width: 275px;
  height: 30px;
  border-bottom: 1px solid #3B3450;
  margin-top: 18px;
}

.input {
  margin-left: 8px;
  font-size: 18px;
  background-color: #1E192C;
  border: none;
  color: white;
  
}

.input:focus{
  outline: none;
}

.icon {
  stroke: #8647AD;
  fill: #8647AD;
  stroke-width: "0";
}

.formButton {
  width: 264px;
  height: 29px;
  background-color: #E4105D;
  border-radius: 27px;
  border: none;
  outline: 1px solid #E4105D;
  outline-offset: 6px;
  margin: 6px;
  margin-top: 45px;
  margin-bottom: 33px;
  font-size: 18px;
}

.strong {
  margin-top: 12px;
}

.greenText {
  color: #23DD7A
}

