$base-color: #660099;

.container {
  height: 100vh;
  width: 100vw;
  background-color: $base-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  width: 300px;
}

.title {
  color: $base-color;
  font-size: 32px;
  padding: 8px;
}

.button {
  background-color: $base-color;
  height: 32px;
  border: none;
  border-radius: 16px;
  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
}